.article {

    &__aside {
        @extend .archive__aside;
    }

    &__container {
        @extend .archive__container;
    }

    &__heading {
        @extend .archive__heading;
    }

    &__intro {
        margin-top:      4rem;

        @include media-w600 {
            display:         flex;
            flex-flow:       row nowrap;
            justify-content: space-between;
        }

        &--left {
            @include media-w640 {
                max-width: 540px;
            }
        }

        &--right {
            img {
                transform:    rotate(10deg);
                margin-top:   1rem;
                margin-right: 3rem;
            }
        }
    }

    &__main {
        @extend .archive__main;
    }

    &--content {
        background:    white;
        border-bottom: 1px solid white;
    }
}
