.hide,
.hidden {
    display: none;
}

.intro {
    &__buttons,
    &__text,
    &__title {
        margin-top: 1rem;
    }

    &__buttons {
        .button {
            margin-right: 0.5rem;

            + .button {
                background-color: $bodyColor;
                @include media-w414 {
                    margin-right: 0;
                    margin-left: 0.5rem;
                }
            }
        }
    }
}

.sidebar {
    border:        1px solid $baseColor;
    border-radius: $borderRadius;
    padding:       0.5rem;
}
