.nav {

    &__dropdown {
        display: none;

        &--wrapper {
            list-style:   none;
            padding-left: 0;
        }
    }

    &__extend {
        display:          none;
        opacity:          0;
        transform:        translateX(100%);
        transition-delay: 0s;
        transition:       0s;
        height:           100%;
        width:            100%;

        .is-open & {
            display:          block;
            opacity:          1;
            right:            0;
            top:              1rem;
            position:         absolute;
            transform:        translateX(0);
            transition-delay: 250ms;
            z-index:          100;
            overflow-y:       auto;
        }
    }

    &__heading {
        color:          inherit;
        font-size:      1.125rem;
        font-weight:    700;
        text-transform: uppercase;
    }

    &__link {
        color: inherit;

        .nav__extend & {
            color: white;
        }
    }

    &__list {
        @include listReset;

        &--top {
            display:         flex;
            justify-content: flex-end;
            align-items:     center;
        }
    }

    &__list-item {
        &--top {
            position: relative;

            + .nav__list-item--top {
                margin-left: 1rem;
            }

            &:hover {
                > .nav__dropdown {
                    display:     block;
                    position:    absolute;
                    padding-top: 2rem;
                }
            }
        }
    }

    &__trigger {
        &--open {
            background-color: transparent;
            color:            $baseColor;
        }

        &--close {
            background:    transparent;
            color:         white;
            // margin-bottom: 2.063em;

            &:hover {
                // background: transparent;
            }
        }

        &--close {
            float: right;

            &:hover {
                box-shadow: none;
                color:      $baseColor;
            }
        }
    }

    /* Modifiers */
    &--top {
        color:       #5a5a5a; // @TODO: make dynamic
        font-size:   1.125rem;
        line-height: 2rem;

        @include media-w1024 {
            // font-size: 1.5rem;
        }

        .nav__link {
            &:hover {
                color: $baseColor;
            }
        }
    }

    &--footer {
        font-size:   1.125rem;
        line-height: 2rem;

        .nav__link {
            &:hover {
                color: $baseColor;
            }
        }
    }
}
